noscript
    p Please enable Javascript
    
header.header
    .container
        nav.header__nav
            ul.header__list.flex-column.flex-md-row
                li.header__control Элемент управления 1
                li.header__control Элемент управления 2
                li.header__control Элемент управления 3
                li.header__control Элемент управления 4
                li.header__control Элемент управления 5
