.user-preview
    .user-preview__img.user-preview__img_online(style='background:url(img/man.png) no-repeat, center')
    .user-preview__info
        .user-preview__name Harry Potter
        .user-preview__unread-count 1
