.message-table
    .message-table__messages
        .message.message_outgoing.emoji__sup
            .message__date 26.07.2018
        .message.message_incoming
            .message__text Что нужно?
            .message__date 27.07.2018
        .message.message_outgoing.emoji__kaboom
            .message__date 26.07.2018
        .message.message_incoming
            .message__text А сказать без этих дебильных смайликов слабо?
            .message__date 27.07.2018
        .message.message_outgoing.emoji__bitch
            .message__date 26.07.2018
        .message.message_incoming
            .message__text Сам такой
            .message__date 27.07.2018
        .message.message_outgoing.emoji__coolstory
            .message__date 26.07.2018
        .message.message_incoming
            .message__text Вот и поговорили
            .message__date 27.07.2018
        .message.message_outgoing.emoji__perfect
            .message__date 26.07.2018
