doctype html
html(lang="ru")
    include ../blocks/head/head.jade
    body
        include ../blocks/header/header.jade

        main.px-0.px-sm-2.chat
                include ../blocks/usersTable/usersTable.jade
                include ../blocks/messageTable/messageTable.jade

        include ../blocks/footer/footer.jade
