.users-table
    .user-preview
        .user-preview__img.user-preview__img_online(style='background:url(img/man.png) no-repeat center / contain')
        .user-preview__info
            .user-preview__name Harry Potter
    .user-preview
        .user-preview__img.user-preview__img_online(style='background:url(img/man.png) no-repeat center / contain')
        .user-preview__info
            .user-preview__name Джек Воробей
    .user-preview
        .user-preview__img.user-preview__img_online(style='background:url(img/man.png) no-repeat center / contain')
        .user-preview__info
            .user-preview__name Злой начальник
    .user-preview
        .user-preview__img.user-preview__img_online(style='background:url(img/man.png) no-repeat center / contain')
        .user-preview__info
            .user-preview__name Злой начальник
    .user-preview
        .user-preview__img.user-preview__img_online(style='background:url(img/man.png) no-repeat center / contain')
        .user-preview__info
            .user-preview__name Злой начальник
    .user-preview
        .user-preview__img.user-preview__img_online(style='background:url(img/man.png) no-repeat center / contain')
        .user-preview__info
            .user-preview__name Злой начальник
    .user-preview
        .user-preview__img.user-preview__img_online(style='background:url(img/man.png) no-repeat center / contain')
        .user-preview__info
            .user-preview__name Злой начальник
    .user-preview
        .user-preview__img.user-preview__img_online(style='background:url(img/man.png) no-repeat center / contain')
        .user-preview__info
            .user-preview__name Злой начальник
    .user-preview
        .user-preview__img.user-preview__img_online(style='background:url(img/man.png) no-repeat center / contain')
        .user-preview__info
            .user-preview__name Злой начальник
    .user-preview
        .user-preview__img.user-preview__img_online(style='background:url(img/man.png) no-repeat center / contain')
        .user-preview__info
            .user-preview__name Злой начальник
