footer.footer
    .container.message-controls
        label.message-controls__attach
            input(type='file')
        textarea.message-controls__message-input(placeholder='Type your message...')
        .message-controls__emojis-wrapper
            .message-controls__emojis
                .message-controls__emojis-list
                    .message-controls__emojis-item.emoji__bitch
                    .message-controls__emojis-item.emoji__coolstory
                    .message-controls__emojis-item.emoji__fu
                    .message-controls__emojis-item.emoji__kaboom
                    .message-controls__emojis-item.emoji__perfect
                    .message-controls__emojis-item.emoji__sup
        button.message-controls__send
